<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huanghua.mysecret"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="1"
    android:versionName="1.4" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <permission
        android:name="cn.bmob.permission.push"
        android:protectionLevel="normal" />

    <uses-permission android:name="cn.bmob.permission.push" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <application
        android:name="com.huanghua.mysecret.CustomApplcation"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service
            android:exported="false"
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="wHFU4XcT5gijCobH9cn9qvdr" />
        <!-- 原始 QwpGtlezir4SCiEZagIQr6Gb --> 
        
        <activity
            android:name="com.huanghua.mysecret.ui.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.huanghua.mysecret.ui.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" >
        </activity>
        <activity
            android:name="com.huanghua.mysecret.ui.WriteSecretActivity"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity android:name="com.huanghua.mysecret.ui.WriteCommentActivity" >
        </activity>
        <activity android:name="com.huanghua.mysecret.ui.UserLoginActivity" >
        </activity>
        <activity android:name="com.huanghua.mysecret.ui.UserRegisterActivity" >
        </activity>
        <activity android:name="com.huanghua.mysecret.ui.MySecretActivity" >
        </activity>
        <activity android:name="com.huanghua.mysecret.ui.MyCommentActivity" >
        </activity>
        <activity android:name="com.huanghua.mysecret.ui.AboutOurActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.huanghua.mysecret.ui.MyMessageActivity" >
        </activity>
        <activity android:name="com.huanghua.mysecret.ui.UpdateUserInfoActivity" >
        </activity>
        <activity android:name="com.huanghua.mysecret.ui.PhotoViewActivity" >
        </activity>
        <service android:name="com.huanghua.mysecret.service.DateQueryService" >
        </service>

        <service
            android:name="cn.bmob.push.lib.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:permission="cn.bmob.permission.push"
            android:process="cn.bmob.push" >
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService" />
            </intent-filter>
        </service>
        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- tencent login start -->
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1102011854" />
            </intent-filter>
        </activity>
        <!-- tencent login end -->

    </application>

</manifest>